body {
    background-image: url("../imagens/carbc.png");
  background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;}

.intro{font-family:'Neon';
color:#FFDCE4;
text-align:center;
margin:auto;
animation: trans 0.75s;
margin-top: 200px;
padding:50px;
}

h1{font-size: 35px;
padding-top:30px;}

p{font-size: 28px;
padding:30px;}
